.adloud-teaser-200x600 {
    width: 200px!important;
    height: 300px!important;
}
.adloud-teaser-200x600:first-of-type {
    border-radius: 4px 4px 0 0!important;
}
.adloud-teaser-200x600:last-of-type {
    border-radius: 0 0 4px 4px!important;
}
.adloud-teaser-200x600 .teaser_title {
    padding: 0 16px!important;
    line-height: 1.1!important;
    height: 30px!important;
    display: table-cell!important;
    vertical-align: middle!important;
    width: 196px!important;
}
.adloud-teaser-200x600 .teaser_link {
    line-height: 1!important;
    height: 14px!important;
    margin: 4px 0 0 0!important;
}
.adloud-teaser-200x600 .teaser_logo {
    margin: 0 4px 0 0!important;
}
.adloud-teaser-200x600 .teaser_link a{
    height: 14px!important;
    line-height: 1!important;
    display: inline-block!important;
    vertical-align: top!important;
}
.adloud-teaser-200x600 .center-content {
    height: 212px!important;
    display: table-cell!important;
    width: 196px!important;
    vertical-align: middle!important;
}
.adloud-teaser-200x600 .teaser_img {
    width: 156px!important;
    margin: 0 auto 5px!important;
}
.adloud-teaser-200x600 .teaser_description {
    padding: 0 3px!important;
}
.adloud-teaser-200x600 .teaser_price {
    width: 190px!important;
    margin: 4px auto 0!important;
}
.adloud-teaser-200x600 .teaser_price span:first-child {
    margin-right: 45px!important;
}
.adloud-teaser-200x600 .teaser_btn {
    width: 190px!important;
    right: 3px!important;
}
.adloud-teaser-200x600:first-of-type .teaser_btn {
    bottom: 4px!important;
}
.adloud-teaser-200x600:last-of-type .teaser_btn {
    bottom: 3px!important;
}
.adloud-teaser-200x600 .teaser_btn a {
    line-height: 30px!important;
}