.adloud-block-240x400.adloud-block-240x400-new {
    height: auto!important;
}
.adloud-teaser-240x400 .teaser_title {
    font-weight: 700!important;
}
.adloud-teaser-240x400 .teaser_description {
    font-size: 12px!important;
    padding: 0 0 3px !important;
}