.adloud-block-200x300 {
	width: 200px!important;
	height: 300px!important;
}
.adloud-block-200x300 .adloud_logo {
	top: 0px!important;
	left: 0px!important;
}
.adloud-block-200x300 .refresh {
	top: 0px!important;
	right: 0px!important;
}