.adloud-block-240x600 {
    width: 240px!important;
    height: auto!important;
}
.adloud-block-240x600 .adloud_logo {
    top: 0px!important;
    left: 0px!important;
}
.adloud-block-240x600 .refresh {
    top: 0px!important;
    right: 0px!important;
}