.adloud-block-336x280 {
	width: 336px!important;
	height: 280px!important;
}
.adloud-block-336x280 .adloud_logo {
	top: 0px!important;
	left: 0px!important;
}
.adloud-block-336x280 .refresh {
	top: 0px!important;
	right: 0px!important;
}