.adloud-teaser-item .teaser_title, .adloud-teaser-item .teaser_title a {
    color: #416343!important;
}
.adloud-teaser-item .btn {
    background: #9b59b5!important;
    color: #fff!important;
}
.adloud-teaser-item .btn:hover {
    background: #bc84ca!important;
}
.adloud-teaser-item .transparent_btn a, .adloud-teaser-item .transparent_btn span {
    color: #9b59b5!important;
}