<div id="adloud-block-{id}"></div>
<script src="{url}"></script>
<script>
    Adloud_new_init({
        format: '{format}',
        verticalCount: {verticalCount},
        horizontalCount: {horizontalCount},
        textColor: '{textColor}',
        buttonColor: '{buttonColor}',
        backgroundColor: '{backgroundColor}',
        borderColor: '{borderColor}',
        border: {border},
        allowAdult: {allowAdult},
        allowShock: {allowShock},
        allowSms: {allowSms},
        id: {id}
    });
</script>