a.adld-tsr-300x150 {
	width: 300px !important;
	height: 150px !important;
	vertical-align: top!important;
}
div.adld-tsr-title {
	display: table !important;
	width: 100% !important;
	height: auto !important;
}
div.adld-tsr-title > span {
	display: table-cell !important;
	height: 24px !important;
	vertical-align: middle !important;
}
div.adld-tsr-title > span:last-child {
	width: 276px !important;
	padding: 0 4px 0 0 !important;
	font-size: 12px !important;
	text-align: left !important;
}
div.adld-tsr-title > span.adld-tsr-icon {
	width: 16px !important;
	padding: 0 2px 0 0!important;
}
span.adld-tsr-icon img {
	vertical-align: middle!important;
	margin-top: -4px!important;
}
span.adld-tsr-link-url {
	display: inline-block !important;
	width: auto !important;
	height: auto !important;
	padding: 0 !important;
	margin: 0 !important;
	vertical-align: top !important;
}
div.adld-tsr-content {
	display: table !important;
	width: 100% !important;
	height: 118px !important;
	padding: 0 !important;
	margin: 0 !important;
	vertical-align: top !important;
}
div.adld-adld-tsr-img {
	display: table-cell !important;
	width: 118px !important;
	height: 118px !important;
	padding: 0 !important;
	vertical-align: bottom !important;
	margin: 0 auto !important;
}
div.adld-adld-tsr-img img {
	vertical-align: bottom !important;
}
div.adld-adld-tsr-description {
	display: table-cell !important;
	width: 174px !important;
	height: 98px !important;
	padding: 0 0 0 4px !important;
	margin: 0 auto!important;
	vertical-align: top !important;
	text-align: left !important;
}
div.adld-adld-tsr-description > span {
	display: table !important;
	width: 100% !important;
	height: 88px !important;
	padding: 0 !important;
	margin: 0 !important;
}
div.adld-tsr-btn {
	display: table !important;
	width: 170px !important;
	padding: 0 !important;
	margin: 0 auto !important;
}
div.adld-tsr-btn span.btn {
	display: inline-block !important;
	width: 170px!important;
}