a.adld-simple-tsr-200x90 {
	width: 200px !important;
	height: 90px !important;
	border-radius: 4px !important;
}
.adld-simple-tsr-200x90 .adld-simple-adld-tsr-img-cntnr {
	float: left !important;
	display: block !important;
	width: 90px !important;
	height: 90px !important;
	padding: 0 !important;
	margin: 0 !important;
	overflow: hidden !important;
	border-radius: 4px 0 0 4px !important;
}
.adld-simple-tsr-200x90 .adld-simple-tsr-txt-cntnr {
	float: left !important;
	display: block !important;
	width: 110px !important;
	height: 90px !important;
	padding: 6px 4px !important;
	border-radius: 0 4px 4px 0 !important;
}
.adld-simple-tsr-200x90 .adld-simple-tsr-title {
	height: auto !important;
	padding: 0 0 5px !important;
	font-size: 11px !important;
	line-height: 1 !important;
}
.adld-simple-tsr-200x90 .adld-simple-tsr-dscrptn {
	height: auto !important;
	font-size: 11px !important;
	line-height: 1 !important;
}
.adld-simple-tsr-200x90 .adld-simple-tsr-link {
	display: none !important;
}