a.adld-simple-tsr-240x120 {
	width: 240px !important;
	height: 120px !important;
	border-radius: 4px !important;
}
.adld-simple-tsr-240x120 .adld-simple-adld-tsr-img-cntnr {
	float: left !important;
	display: block !important;
	width: 120px !important;
	height: 120px !important;
	padding: 0 !important;
	margin: 0 !important;
	overflow: hidden !important;
	border-radius: 4px 0 0 4px !important;
}
.adld-simple-tsr-240x120 .adld-simple-tsr-txt-cntnr {
	float: left !important;
	display: block !important;
	width: 120px !important;
	height: 120px !important;
	padding: 9px 6px !important;
	border-radius: 0 4px 4px 0 !important;
}
.adld-simple-tsr-240x120 .adld-simple-tsr-title {
	height: auto !important;
	padding: 0 0 8px !important;
	font-size: 12px !important;
	line-height: 1 !important;
}
.adld-simple-tsr-240x120 .adld-simple-tsr-dscrptn {
	height: auto !important;
	font-size: 11px !important;
	line-height: 1 !important;
}
.adld-simple-tsr-240x120 .adld-simple-tsr-link {
	display: none !important;
}