.adloud-block-200x600 {
	width: 200px!important;
	height: 600px!important;
}
.adloud-block-200x600 .adloud_logo {
	top: 0px!important;
	left: 0px!important;
}
.adloud-block-200x600 .refresh {
	top: 0px!important;
	right: 0px!important;
}