.adloud-block-468x60 {
	width: 468px!important;
	height: 60px!important;
}
.adloud-block-468x60 .adloud_logo {
	top: 0px!important;
	right: 0px!important;
}
.adloud-block-468x60 .refresh {
	top: 0px!important;
	right: 20px!important;
}