.adloud-block-600x300 {
	width: 600px!important;
	height: 300px!important;
}
.adloud-block-600x300 .adloud_logo {
	top: 0px!important;
	left: 0px!important;
}
.adloud-block-600x300 .refresh {
	top: 0px!important;
	right: 0px!important;
}