.adloud-block-728x90 {
     width: 728px!important;
     height: 90px!important;
 }
.adloud-block-728x90 .adloud_logo {
    bottom: 0px!important;
    left: 0px!important;
}
.adloud-block-728x90 .refresh {
    top: 0px!important;
    right: 0px!important;
}